.item {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 5px;
    border: 1px solid black;
    background-color: #fafafa;
    font-size: 12px;
    min-height: 80px;
    max-height: 80px;
}

p {
    margin-bottom: 0;
}

.item.active {
    color: white;
    background-color: #1890ff;
    border: none;
    
}

