@media (max-width: 1071px) {
  .p-buttons {
    margin-top: 10px;
  }
}

@media (max-width: 788px) {
  .p-state-select {
    margin-top: 10px;
    min-width: 100%;
  }
}

@media (max-width: 555px) {
  .p-search {
    margin-top: 10px;
  }
}
