.projects-page-header-mts-select {
  min-width: 430px;
  max-width: 430px;
}
@media (max-width: 947px) {
  .projects-page-header-mts {
    margin-top: 10px;
    width: 100%;
  }
  .projects-page-header-mts-select {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 1056px) {
  .projects-page-header-action-buttons {
    margin-top: 10px;
  }
}
